
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


body{

    font-family: 'Poppins', sans-serif;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-x: hidden ;
    max-width:100%;

}


/*Content areas*/
#topArea{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  
}

#bottomArea{
  height: calc(100%*0.4);

}

#instruction_diamond_area{
  height: calc(( 100%*0.4)*0.2 );
}


/*General style*/
.bold{
    font-weight: 800;
}

span{
    font-weight: 700;
}

hr{
  height: 10px;
}

.line{
  height:1px;
  width: 100%;
  background-color: rgb(214, 214, 214);
  margin:10px 0 10px 0;
}


/*css for detail popup*/
.overlay {
  position: fixed;
  z-index: 2;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  
  visibility:hidden;
  opacity: 0;
  transition: opacity 500ms; 
}

#popupWrapper{
  padding: 45px 0 20px 0;
  /*max-width: 600px;*/
}

.popup {
  margin: 45px auto 0px auto; 
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  
  position: relative;
  transition: all 500ms ease-in-out;
  visibility:hidden;
  opacity: 0;
  max-width: 500px;
}

.popupContent{
    height: 100%;
    overflow:auto;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    transition: all 500ms ease-in-out;
}

#closeBtn{
    position: absolute;
    right:10px;
    top:10px;
}

#productMainImage{
    width: 100%;
    height: auto;
}

#_detail{
    margin-bottom: 50px;
    font-size: 0.9em;
    /*height: 100%;*/
    /*overflow: auto;*/
}

.diamond{
    max-height: 90%;
    /*maxheight:50%;*/
    width:auto;
    /*max-width:65px;*/

  }

.detailBottomNav{
    margin: 0px auto 0 auto;    
    background: rgb(0, 0, 0);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    max-width: 500px;
}

.detailBottomNavImage{
  position: relative;
  max-width: auto;
  max-height: 100%;
  vertical-align: middle;
  margin: 0;
}

/*detail bottom navigation height*/
.dbnHeight{
  display: flex;
  position: relative;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
}

.dbnCol{
  position: relative;
  height:100%;
  display: flex;
}



/*About Exhibition*/
  .aboutEx{

    position: absolute;
    right:0px;
    bottom:0px;
    width: 124px;
    height:75px;
    pointer-events: none;
    
  }

  #_aboutEx{
    position: absolute;
    right:0px;
    bottom:0px;
    pointer-events: visible;
    
  }

  .closeAboutEx{
    position: absolute;
    right:0px;
    bottom:0px;
    visibility: hidden;
    opacity: 0;
    width: 124px;
    height:75px;
    
  }

  #_closeAboutEx{
    position: absolute;
    right:0px;
    bottom:0px;
  }

  .homeBtn{

    pointer-events: none;
    position: absolute;
    left:0px;
    bottom:0px;
    visibility:hidden;
    opacity: 0;
    width: 124px;
    height:75px;
  }

  #_homeBtn{
    position: absolute;
    left:0px;
    bottom:0px;
    pointer-events: visible;
  }

  #_name{
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .popUpAboutEx{
    z-index: 0;
    position: fixed;
    padding: 0px 40px 0px 40px;
    background: #fff;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0%;
    visibility: hidden;
    max-width: 500px;
    margin: 0px auto 0px auto;
  }

  .aboutExContent{
    position:relative;
    height: 100%;
    font-size: 0.9em;
    overflow: scroll;

  }

  .abooutExContentDIV{
    margin-top: 50px; 
  }


  .hidden{
    visibility: hidden;
    opacity: 0;
  }



  #instruction{
    height: 100%;
    width: auto;
    /*style="max-width:55%; */
    margin-bottom: 20px;
  }

  #diamond_nav{
    padding:0px 0px 30px 0px;
    
  }

  .diamondRow{
    position: relative;
    height: 100%;
  }

  .thumbCol{
    height: 100%;
  }
 